body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image:url('/images/bg-pattern-bottom.svg'),url('/images/bg-pattern-top.svg');
    background-color: rgb(21, 150, 150);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.card {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 21px 0px rgba(39,117,136,0.75);
-webkit-box-shadow: 0px 0px 21px 0px rgba(39,117,136,0.75);
-moz-box-shadow: 0px 0px 21px 0px rgba(39,117,136,0.75);
}

.card span{
    font-size: 13px;
    font-weight: normal;
    color: rgb(97, 96, 96);
}

.card p{
    font-size: 13px;
    color: rgb(97, 96, 96);
}



.card #background{
    width: 300px;
    border-top-left-radius: 12px ;
    border-top-right-radius: 12px ;
}

.card #victor{
    border-radius: 50%;
    position: fixed;
    left: 640px;
    top: 220px;

}

.card .mid-card{
    text-align: center;
    padding: 45px 50px 5px 50px;
}

.card .foot-card{
    border-top: 1px solid rgba(180, 180, 180, 0.356);
    padding-left: 24px;
}
.card .foot-card div{
    display: inline-block;
    width: 80px;
    text-align: center;
    
    
}